[package]
name = "axum-full-course"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"

tokio = { version = "1.32.0", features = ["full"] }

serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.105"

axum = { version = "0.6.20", features = ["macros"] }
tower-http = { version = "0.4.4", features = ["fs"] }
tower-cookies = "0.9.0"


[dev-dependencies]
reqwest = { version = "0.11.20", features = ["json", "cookies"] }